In [2]:
import pandas as pd
import numpy

In [3]:
df = pd.read_csv('data/NYT_data_cleaned.csv')

In [5]:
del df['Unnamed: 0']

In [9]:
y_vals = df.section

In [14]:
x_df = df[['id', 'headline', 'snippet']]
x_df.head()

,id,headline,snippet
0,59f89f9895d0e0246f213289,Cynthia Nixon to Host the National Book Awards,Cynthia Nixon's new role will be on the bookis...
1,59f89eb195d0e0246f213282,Borghese Gallery Gathers a Full House of Berni...,The most comprehensive exhibition of the Baroq...
2,59f89c5795d0e0246f213277,‘Stranger Things 2’: Pixar’s Andrew Stanton on...,The director of “Finding Nemo” and “Wall-E” di...
3,59f8972e95d0e0246f213265,Judge Accidentally Reveals Winner of Hot Bakin...,"A judge on the Great British Bake Off, a widel..."
4,59f893bb95d0e0246f21325a,2 Best Friends in a Charming Aussie Comedy Abo...,It's time to make two new friends: Celia Pacqu...

In [ ]:
exclude = set(string.punctuation)
s = ''.join(ch for ch in s if ch not in exclude)